// Variáveis SASS
$background-dark: rgba(0, 0, 0, 0.7);
$primary-color: #f77f00; // Cor primária
$secondary-color: #fff; // Branco
$text-color: #fff; // Cor do texto
$star-color: #e5bf00; // Cor das estrelas (dourado)
$color-hover: #f0922e; // Cor do hover
$primary-font: 'Avenir-Bold', sans-serif;
$secondary-font: 'Avenir-Regular', sans-serif;
